/* * {
    box-sizing: border-box;
  } */
  .card1 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 2px 5px 5px rgba(81, 75, 75, 0.5);
  }
  
  .body1 {
    padding: 10px;
  }
  .footer1 {
    border-top: 2px solid  rgba(78, 78, 199,1);
    padding: 15px;
    background-color: rgba(78, 78, 199,0.25);
    color:rgba(78, 78, 199,1);
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
.button1{
    width:30%;
    background-color: rgba(78, 78, 199, 0.7);
    color:(78, 78, 199,1);
    border: none;
    display: flexbox;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.01s ease-in-out;
    font-size: 15px;
    padding: 5px;
    margin-left: 10px;
}
.button1:hover{
    outline: 3px solid rgba(78, 78, 199,1);
    background-color: rgba(78, 78, 199,1);
}
.allData{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.add{
  width: 10%;
  display: block;
  margin-top : 2%;
  margin-left: 10%;
}